{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1> Dashboard enseignant </h1>

{% for subject in subjects %}
    <h2 class="border-top">{{ subject.name }}</h2>
    {% for promo in subject.promotion_set.all %}
        <table class="table-primary table-bordered">
            <thead>
            <tr>
                <th scope="col">{{ promo.name }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in promo.user.all %}
                <tr>
                    <th scope="row">{{ user }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endfor %}

{% endblock %}

