{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="px-4 pt-5 text-center border-bottom">
    <h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Log In</button>
</form>
</div>
{% endblock %}