{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="px-4 pt-5 text-center border-bottom">
<h1>Check your inbox.</h1>
<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
{% endblock %}