{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <form method="POST">
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Yes" />
            <a href="/">Cancel </a>
        </form>
    </div>
{% endblock %}