{% extends 'base.html' %}
{% block content %}
    <form method="POST" class="post-form">  
        {% csrf_token %}  
        <p>{{title}}</p>
        {{ form.as_p }}  
        <button type="submit" class="save btn btn-primary">Save</button>  
    </form>  
    </body> 
{% endblock %} 