{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!--     <div class="px-4 pt-5 text-center border-bottom">

            {% if user.is_authenticated %}
                <p class="col-lg-6 mx-auto">Hi {{ user.username }}!</p>
                <a href="{% url 'logout' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Log Out</a>
            {% else %}
                <h1 class="display-4 fw-bold">Welcome</h1>
                <p class="col-lg-6 mx-auto">You are not logged in</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Log In</a>
        <a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg px-4 me-sm-3">Reset Password</a>
            {% endif %}
    </div> -->
{% endblock %}