{% extends 'base.html' %}
{% block content %}
  <div class="main">
      <form method="POST">
          {% csrf_token %}
            {{ form.as_p }}
          <input type="submit" value="Update">
      </form>
    
  </div>
{% endblock %}